.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSection {
    position: relative;

    background-image:
        radial-gradient(circle at 8% 18%, rgba(255, 255, 255, 0.441) 1px, transparent 1px),
        radial-gradient(circle at 17% 67%, rgba(255, 255, 255, 0.39) 1px, transparent 1px),
        radial-gradient(circle at 31% 34%, rgba(255, 255, 255, 0.263) 1px, transparent 1px),
        radial-gradient(circle at 46% 79%, rgba(255, 255, 255, 0.826) 1px, transparent 1px),
        radial-gradient(circle at 61% 22%, rgba(255, 255, 255, 0.677) 1px, transparent 1px),
        radial-gradient(circle at 74% 63%, rgba(255, 255, 255, 0.829) 1px, transparent 1px),
        radial-gradient(circle at 88% 29%, rgba(255, 255, 255, 0.553) 1px, transparent 1px),

        radial-gradient(
            circle,
            rgba(124, 58, 237, 0.089),
            transparent 60%
        ),

        repeating-linear-gradient(
            to right,
            transparent 0px,
            transparent 49px,
            rgba(124, 58, 237, 0.088) 50px
        ),

        repeating-linear-gradient(
            to bottom,
            transparent 0px,
            transparent 49px,
            rgba(124, 58, 237, 0.108) 50px
        );

    background-size:
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        auto,
        auto;
}
.heroInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.heroButtons {
    display: flex;
    gap: 20px;
}

.heroButtons button {
    padding: 12px 18px;
    border-radius: 8px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in 0.5s;
}

.primaryButton:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 15px 2px rgba(221, 0, 255, 0.274);

}

.secondaryButton:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 15px 2px rgba(221, 0, 255, 0.274);
}

.primaryButton {
    background-color: var(--primary);
    color: white;
    border: none;
}

.secondaryButton {
    background-color: transparent;
    color: white;
    border: 1px solid var(--primary);
}

.heroHeading {
    color: var(--text-primary);
    font-family: "Chakra Petch", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.heroSubHeading {
    color: var(--text-secondary);
    font-family: "JetBrains Mono", monospace;
    font-size: 24px;
    font-weight: 500;
}

.heroDescription {
    color: var(--text-secondary);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    max-width: 550px;
}

@keyframes cursor {

    0%,
    50% {
        opacity: 0;
    }

    51%,
    100% {
        opacity: 1;
    }
}

.cursor {
    animation: cursor 1s infinite;
}