nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(179, 0, 255);

}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
@keyframes cursor {
    0%, 50% {
        opacity:0;
    }

    51%, 100% {
        opacity:1;
    }
}
.cursor{
    animation : cursor 1s infinite;
}