nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(179, 0, 255, 0.621);
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(1px);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
}